{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
<h1>OKEJU.GA</h1>
<p>Ini adalah situs web tempat Anda dapat menambahkan foto ke bingkai.</p>

<h2>Tutorial</h2>

<p>Silahkan unggah gambar dan klik pratinjau lalu unduh, aplikasi ini akan otomatis menggabungkan unggahan gambar yang Anda pilih.</p>

<p>
<input type="file" id="actual-btn" hidden multiple/>
<label for="actual-btn">Unggah Gambar</label>
<button class="button big" id="dpwload" onclick="drawImage()">Pratinjau</button>
<p id="file-chosen"></p>
</p>

<p>
<img id="preview" src="/no-images.png"/>
<img id="twibbon" src="/twibbon.png" style="display: none"/>
<canvas id="bungferry" style="display: none"></canvas>
</p>

<p>
<button class="button big danger" id="cancel" onclick="location.reload()">Hapus</button>
<a class="button big" href="#" id="dpwload2" download="twibbon-by-bungferry.png" style="display: none">Unduh</a>
</p>

<h2>Twibbon Generator v.2</h2>
  
<p>Tambahkan tampilan yang disesuaikan ke profil Facebook hanya dalam beberapa langkah.</p>

<p>Pasang bingkai <a href="https://www.kerenju.ga/">di sini</a> untuk teman dan pengikut Anda menggunakan bingkai karya seni original Anda sendiri atau pilih dari bingkai kami.</p>

<p><a class="reference" target="_blank" rel="noopener" href="https://www.facebook.com/bungferry.wa">🔗 Ferry Ayunda</a></p>

<script src="/twibbon.js"></script>
<script src="/custom.js"></script>
{{!-- Feel free to remove this! --}}

{{outlet}}
